@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-primary: #3b82f6;
  --color-primary-dark: #60a5fa;
  --color-primary-light: #93c5fd;
  
  --color-secondary: #10b981;
  --color-secondary-dark: #34d399;
  --color-secondary-light: #6ee7b7;
}

/* Better font rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}